.card_headtitle{
    background-color:wheat  !important;
    height:75%
  }
  .d{
    margin-top: 30px;
  }
  .headtitle{
    text-decoration: underline;
    margin-top: 15px;
    color: black;
    font-size:170%;
    font-weight: bold;

  }
  .matchs{
    margin-bottom: 35px;  
    background-color:beige !important;
    height:50%;
  }
  .matchtitle{
    color:black;
    font-size: 150%;
  }
  .button{
    background-color: black;
    color: white;
  }